@media screen and (max-width: 990px) {
  .col-md-p5 {
    flex: 0 0 5%;
    max-width: 5%;
  }

  .col-md-p6 {
    flex: 0 0 6%;
    max-width: 6%;
  }

  .col-md-p7 {
    flex: 0 0 7%;
    max-width: 7%;
  }

  .col-md-p8 {
    flex: 0 0 8%;
    max-width: 8%;
  }

  .col-md-p9 {
    flex: 0 0 9%;
    max-width: 9%;
  }

  .col-md-p10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-md-p11 {
    flex: 0 0 11%;
    max-width: 11%;
  }

  .col-md-p12 {
    flex: 0 0 12%;
    max-width: 12%;
  }

  .col-md-p13 {
    flex: 0 0 13%;
    max-width: 13%;
  }

  .col-md-p14 {
    flex: 0 0 14%;
    max-width: 14%;
  }

  .col-md-p15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-md-p16 {
    flex: 0 0 16%;
    max-width: 16%;
  }

  .col-md-p17 {
    flex: 0 0 17%;
    max-width: 17%;
  }

  .col-md-p18 {
    flex: 0 0 18%;
    max-width: 18%;
  }

  .col-md-p19 {
    flex: 0 0 19%;
    max-width: 19%;
  }

  .col-md-p20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-md-p21 {
    flex: 0 0 21%;
    max-width: 21%;
  }

  .col-md-p22 {
    flex: 0 0 22%;
    max-width: 22%;
  }

  .col-md-p23 {
    flex: 0 0 23%;
    max-width: 23%;
  }

  .col-md-p24 {
    flex: 0 0 24%;
    max-width: 24%;
  }

  .col-md-p25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-p26 {
    flex: 0 0 26%;
    max-width: 26%;
  }

  .col-md-p27 {
    flex: 0 0 27%;
    max-width: 27%;
  }

  .col-md-p28 {
    flex: 0 0 28%;
    max-width: 28%;
  }

  .col-md-p29 {
    flex: 0 0 29%;
    max-width: 29%;
  }

  .col-md-p30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-md-p31 {
    flex: 0 0 31%;
    max-width: 31%;
  }

  .col-md-p32 {
    flex: 0 0 32%;
    max-width: 32%;
  }

  .col-md-p33 {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .col-md-p34 {
    flex: 0 0 34%;
    max-width: 34%;
  }

  .col-md-p35 {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .col-md-p36 {
    flex: 0 0 36%;
    max-width: 36%;
  }

  .col-md-p37 {
    flex: 0 0 37%;
    max-width: 37%;
  }

  .col-md-p38 {
    flex: 0 0 38%;
    max-width: 38%;
  }

  .col-md-p39 {
    flex: 0 0 39%;
    max-width: 39%;
  }

  .col-md-p40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-md-p41 {
    flex: 0 0 41%;
    max-width: 41%;
  }

  .col-md-p42 {
    flex: 0 0 42%;
    max-width: 42%;
  }

  .col-md-p43 {
    flex: 0 0 43%;
    max-width: 43%;
  }

  .col-md-p44 {
    flex: 0 0 44%;
    max-width: 44%;
  }

  .col-md-p45 {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .col-md-p46 {
    flex: 0 0 46%;
    max-width: 46%;
  }

  .col-md-p47 {
    flex: 0 0 47%;
    max-width: 47%;
  }

  .col-md-p48 {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .col-md-p49 {
    flex: 0 0 49%;
    max-width: 49%;
  }

  .col-md-p50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-p51 {
    flex: 0 0 51%;
    max-width: 51%;
  }

  .col-md-p52 {
    flex: 0 0 52%;
    max-width: 52%;
  }

  .col-md-p53 {
    flex: 0 0 53%;
    max-width: 53%;
  }

  .col-md-p54 {
    flex: 0 0 54%;
    max-width: 54%;
  }

  .col-md-p55 {
    flex: 0 0 55%;
    max-width: 55%;
  }

  .col-md-p56 {
    flex: 0 0 56%;
    max-width: 56%;
  }

  .col-md-p57 {
    flex: 0 0 57%;
    max-width: 57%;
  }

  .col-md-p58 {
    flex: 0 0 58%;
    max-width: 58%;
  }

  .col-md-p59 {
    flex: 0 0 59%;
    max-width: 59%;
  }

  .col-md-p60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-md-p61 {
    flex: 0 0 61%;
    max-width: 61%;
  }

  .col-md-p62 {
    flex: 0 0 62%;
    max-width: 62%;
  }

  .col-md-p63 {
    flex: 0 0 63%;
    max-width: 63%;
  }

  .col-md-p64 {
    flex: 0 0 64%;
    max-width: 64%;
  }

  .col-md-p65 {
    flex: 0 0 65%;
    max-width: 65%;
  }

  .col-md-p66 {
    flex: 0 0 66%;
    max-width: 66%;
  }

  .col-md-p67 {
    flex: 0 0 67%;
    max-width: 67%;
  }

  .col-md-p68 {
    flex: 0 0 68%;
    max-width: 68%;
  }

  .col-md-p69 {
    flex: 0 0 69%;
    max-width: 69%;
  }

  .col-md-p70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-md-p71 {
    flex: 0 0 71%;
    max-width: 71%;
  }

  .col-md-p72 {
    flex: 0 0 72%;
    max-width: 72%;
  }

  .col-md-p73 {
    flex: 0 0 73%;
    max-width: 73%;
  }

  .col-md-p74 {
    flex: 0 0 74%;
    max-width: 74%;
  }

  .col-md-p75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-p76 {
    flex: 0 0 76%;
    max-width: 76%;
  }

  .col-md-p77 {
    flex: 0 0 77%;
    max-width: 77%;
  }

  .col-md-p78 {
    flex: 0 0 78%;
    max-width: 78%;
  }

  .col-md-p79 {
    flex: 0 0 79%;
    max-width: 79%;
  }

  .col-md-p80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-md-p81 {
    flex: 0 0 81%;
    max-width: 81%;
  }

  .col-md-p82 {
    flex: 0 0 82%;
    max-width: 82%;
  }

  .col-md-p83 {
    flex: 0 0 83%;
    max-width: 83%;
  }

  .col-md-p84 {
    flex: 0 0 84%;
    max-width: 84%;
  }

  .col-md-p85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-md-p86 {
    flex: 0 0 86%;
    max-width: 86%;
  }

  .col-md-p87 {
    flex: 0 0 87%;
    max-width: 87%;
  }

  .col-md-p88 {
    flex: 0 0 88%;
    max-width: 88%;
  }

  .col-md-p89 {
    flex: 0 0 89%;
    max-width: 89%;
  }

  .col-md-p90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-md-p91 {
    flex: 0 0 91%;
    max-width: 91%;
  }

  .col-md-p92 {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .col-md-p93 {
    flex: 0 0 93%;
    max-width: 93%;
  }

  .col-md-p94 {
    flex: 0 0 94%;
    max-width: 94%;
  }

  .col-md-p95 {
    flex: 0 0 95%;
    max-width: 95%;
  }

  .col-md-p96 {
    flex: 0 0 96%;
    max-width: 96%;
  }

  .col-md-p97 {
    flex: 0 0 97%;
    max-width: 97%;
  }

  .col-md-p98 {
    flex: 0 0 98%;
    max-width: 98%;
  }

  .col-md-p99 {
    flex: 0 0 99%;
    max-width: 99%;
  }

  .col-md-p100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width:991px) and (max-width: 1201px) {
  .col-lg-p5 {
    flex: 0 0 5%;
    max-width: 5%;
  }

  .col-lg-p6 {
    flex: 0 0 6%;
    max-width: 6%;
  }

  .col-lg-p7 {
    flex: 0 0 7%;
    max-width: 7%;
  }

  .col-lg-p8 {
    flex: 0 0 8%;
    max-width: 8%;
  }

  .col-lg-p9 {
    flex: 0 0 9%;
    max-width: 9%;
  }

  .col-lg-p10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-lg-p11 {
    flex: 0 0 11%;
    max-width: 11%;
  }

  .col-lg-p12 {
    flex: 0 0 12%;
    max-width: 12%;
  }

  .col-lg-p13 {
    flex: 0 0 13%;
    max-width: 13%;
  }

  .col-lg-p14 {
    flex: 0 0 14%;
    max-width: 14%;
  }

  .col-lg-p15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-lg-p16 {
    flex: 0 0 16%;
    max-width: 16%;
  }

  .col-lg-p17 {
    flex: 0 0 17%;
    max-width: 17%;
  }

  .col-lg-p18 {
    flex: 0 0 18%;
    max-width: 18%;
  }

  .col-lg-p19 {
    flex: 0 0 19%;
    max-width: 19%;
  }

  .col-lg-p20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-lg-p21 {
    flex: 0 0 21%;
    max-width: 21%;
  }

  .col-lg-p22 {
    flex: 0 0 22%;
    max-width: 22%;
  }

  .col-lg-p23 {
    flex: 0 0 23%;
    max-width: 23%;
  }

  .col-lg-p24 {
    flex: 0 0 24%;
    max-width: 24%;
  }

  .col-lg-p25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-p26 {
    flex: 0 0 26%;
    max-width: 26%;
  }

  .col-lg-p27 {
    flex: 0 0 27%;
    max-width: 27%;
  }

  .col-lg-p28 {
    flex: 0 0 28%;
    max-width: 28%;
  }

  .col-lg-p29 {
    flex: 0 0 29%;
    max-width: 29%;
  }

  .col-lg-p30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-lg-p31 {
    flex: 0 0 31%;
    max-width: 31%;
  }

  .col-lg-p32 {
    flex: 0 0 32%;
    max-width: 32%;
  }

  .col-lg-p33 {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .col-lg-p34 {
    flex: 0 0 34%;
    max-width: 34%;
  }

  .col-lg-p35 {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .col-lg-p36 {
    flex: 0 0 36%;
    max-width: 36%;
  }

  .col-lg-p37 {
    flex: 0 0 37%;
    max-width: 37%;
  }

  .col-lg-p38 {
    flex: 0 0 38%;
    max-width: 38%;
  }

  .col-lg-p39 {
    flex: 0 0 39%;
    max-width: 39%;
  }

  .col-lg-p40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-lg-p41 {
    flex: 0 0 41%;
    max-width: 41%;
  }

  .col-lg-p42 {
    flex: 0 0 42%;
    max-width: 42%;
  }

  .col-lg-p43 {
    flex: 0 0 43%;
    max-width: 43%;
  }

  .col-lg-p44 {
    flex: 0 0 44%;
    max-width: 44%;
  }

  .col-lg-p45 {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .col-lg-p46 {
    flex: 0 0 46%;
    max-width: 46%;
  }

  .col-lg-p47 {
    flex: 0 0 47%;
    max-width: 47%;
  }

  .col-lg-p48 {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .col-lg-p49 {
    flex: 0 0 49%;
    max-width: 49%;
  }

  .col-lg-p50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-p51 {
    flex: 0 0 51%;
    max-width: 51%;
  }

  .col-lg-p52 {
    flex: 0 0 52%;
    max-width: 52%;
  }

  .col-lg-p53 {
    flex: 0 0 53%;
    max-width: 53%;
  }

  .col-lg-p54 {
    flex: 0 0 54%;
    max-width: 54%;
  }

  .col-lg-p55 {
    flex: 0 0 55%;
    max-width: 55%;
  }

  .col-lg-p56 {
    flex: 0 0 56%;
    max-width: 56%;
  }

  .col-lg-p57 {
    flex: 0 0 57%;
    max-width: 57%;
  }

  .col-lg-p58 {
    flex: 0 0 58%;
    max-width: 58%;
  }

  .col-lg-p59 {
    flex: 0 0 59%;
    max-width: 59%;
  }

  .col-lg-p60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-lg-p61 {
    flex: 0 0 61%;
    max-width: 61%;
  }

  .col-lg-p62 {
    flex: 0 0 62%;
    max-width: 62%;
  }

  .col-lg-p63 {
    flex: 0 0 63%;
    max-width: 63%;
  }

  .col-lg-p64 {
    flex: 0 0 64%;
    max-width: 64%;
  }

  .col-lg-p65 {
    flex: 0 0 65%;
    max-width: 65%;
  }

  .col-lg-p66 {
    flex: 0 0 66%;
    max-width: 66%;
  }

  .col-lg-p67 {
    flex: 0 0 67%;
    max-width: 67%;
  }

  .col-lg-p68 {
    flex: 0 0 68%;
    max-width: 68%;
  }

  .col-lg-p69 {
    flex: 0 0 69%;
    max-width: 69%;
  }

  .col-lg-p70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-lg-p71 {
    flex: 0 0 71%;
    max-width: 71%;
  }

  .col-lg-p72 {
    flex: 0 0 72%;
    max-width: 72%;
  }

  .col-lg-p73 {
    flex: 0 0 73%;
    max-width: 73%;
  }

  .col-lg-p74 {
    flex: 0 0 74%;
    max-width: 74%;
  }

  .col-lg-p75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-p76 {
    flex: 0 0 76%;
    max-width: 76%;
  }

  .col-lg-p77 {
    flex: 0 0 77%;
    max-width: 77%;
  }

  .col-lg-p78 {
    flex: 0 0 78%;
    max-width: 78%;
  }

  .col-lg-p79 {
    flex: 0 0 79%;
    max-width: 79%;
  }

  .col-lg-p80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-lg-p81 {
    flex: 0 0 81%;
    max-width: 81%;
  }

  .col-lg-p82 {
    flex: 0 0 82%;
    max-width: 82%;
  }

  .col-lg-p83 {
    flex: 0 0 83%;
    max-width: 83%;
  }

  .col-lg-p84 {
    flex: 0 0 84%;
    max-width: 84%;
  }

  .col-lg-p85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-lg-p86 {
    flex: 0 0 86%;
    max-width: 86%;
  }

  .col-lg-p87 {
    flex: 0 0 87%;
    max-width: 87%;
  }

  .col-lg-p88 {
    flex: 0 0 88%;
    max-width: 88%;
  }

  .col-lg-p89 {
    flex: 0 0 89%;
    max-width: 89%;
  }

  .col-lg-p90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-lg-p91 {
    flex: 0 0 91%;
    max-width: 91%;
  }

  .col-lg-p92 {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .col-lg-p93 {
    flex: 0 0 93%;
    max-width: 93%;
  }

  .col-lg-p94 {
    flex: 0 0 94%;
    max-width: 94%;
  }

  .col-lg-p95 {
    flex: 0 0 95%;
    max-width: 95%;
  }

  .col-lg-p96 {
    flex: 0 0 96%;
    max-width: 96%;
  }

  .col-lg-p97 {
    flex: 0 0 97%;
    max-width: 97%;
  }

  .col-lg-p98 {
    flex: 0 0 98%;
    max-width: 98%;
  }

  .col-lg-p99 {
    flex: 0 0 99%;
    max-width: 99%;
  }

  .col-lg-p100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-p5 {
    flex: 0 0 5%;
    max-width: 5%;
  }

  .col-xl-p6 {
    flex: 0 0 6%;
    max-width: 6%;
  }

  .col-xl-p7 {
    flex: 0 0 7%;
    max-width: 7%;
  }

  .col-xl-p8 {
    flex: 0 0 8%;
    max-width: 8%;
  }

  .col-xl-p9 {
    flex: 0 0 9%;
    max-width: 9%;
  }

  .col-xl-p10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-xl-p11 {
    flex: 0 0 11%;
    max-width: 11%;
  }

  .col-xl-p12 {
    flex: 0 0 12%;
    max-width: 12%;
  }

  .col-xl-p13 {
    flex: 0 0 13%;
    max-width: 13%;
  }

  .col-xl-p14 {
    flex: 0 0 14%;
    max-width: 14%;
  }

  .col-xl-p15 {
    flex: 0 0 15%;
    max-width: 15%;
  }

  .col-xl-p16 {
    flex: 0 0 16%;
    max-width: 16%;
  }

  .col-xl-p17 {
    flex: 0 0 17%;
    max-width: 17%;
  }

  .col-xl-p18 {
    flex: 0 0 18%;
    max-width: 18%;
  }

  .col-xl-p19 {
    flex: 0 0 19%;
    max-width: 19%;
  }

  .col-xl-p20 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xl-p21 {
    flex: 0 0 21%;
    max-width: 21%;
  }

  .col-xl-p22 {
    flex: 0 0 22%;
    max-width: 22%;
  }

  .col-xl-p23 {
    flex: 0 0 23%;
    max-width: 23%;
  }

  .col-xl-p24 {
    flex: 0 0 24%;
    max-width: 24%;
  }

  .col-xl-p25 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-p26 {
    flex: 0 0 26%;
    max-width: 26%;
  }

  .col-xl-p27 {
    flex: 0 0 27%;
    max-width: 27%;
  }

  .col-xl-p28 {
    flex: 0 0 28%;
    max-width: 28%;
  }

  .col-xl-p29 {
    flex: 0 0 29%;
    max-width: 29%;
  }

  .col-xl-p30 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-xl-p31 {
    flex: 0 0 31%;
    max-width: 31%;
  }

  .col-xl-p32 {
    flex: 0 0 32%;
    max-width: 32%;
  }

  .col-xl-p33 {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .col-xl-p34 {
    flex: 0 0 34%;
    max-width: 34%;
  }

  .col-xl-p35 {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .col-xl-p36 {
    flex: 0 0 36%;
    max-width: 36%;
  }

  .col-xl-p37 {
    flex: 0 0 37%;
    max-width: 37%;
  }

  .col-xl-p38 {
    flex: 0 0 38%;
    max-width: 38%;
  }

  .col-xl-p39 {
    flex: 0 0 39%;
    max-width: 39%;
  }

  .col-xl-p40 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-xl-p41 {
    flex: 0 0 41%;
    max-width: 41%;
  }

  .col-xl-p42 {
    flex: 0 0 42%;
    max-width: 42%;
  }

  .col-xl-p43 {
    flex: 0 0 43%;
    max-width: 43%;
  }

  .col-xl-p44 {
    flex: 0 0 44%;
    max-width: 44%;
  }

  .col-xl-p45 {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .col-xl-p46 {
    flex: 0 0 46%;
    max-width: 46%;
  }

  .col-xl-p47 {
    flex: 0 0 47%;
    max-width: 47%;
  }

  .col-xl-p48 {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .col-xl-p49 {
    flex: 0 0 49%;
    max-width: 49%;
  }

  .col-xl-p50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-p51 {
    flex: 0 0 51%;
    max-width: 51%;
  }

  .col-xl-p52 {
    flex: 0 0 52%;
    max-width: 52%;
  }

  .col-xl-p53 {
    flex: 0 0 53%;
    max-width: 53%;
  }

  .col-xl-p54 {
    flex: 0 0 54%;
    max-width: 54%;
  }

  .col-xl-p55 {
    flex: 0 0 55%;
    max-width: 55%;
  }

  .col-xl-p56 {
    flex: 0 0 56%;
    max-width: 56%;
  }

  .col-xl-p57 {
    flex: 0 0 57%;
    max-width: 57%;
  }

  .col-xl-p58 {
    flex: 0 0 58%;
    max-width: 58%;
  }

  .col-xl-p59 {
    flex: 0 0 59%;
    max-width: 59%;
  }

  .col-xl-p60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-xl-p61 {
    flex: 0 0 61%;
    max-width: 61%;
  }

  .col-xl-p62 {
    flex: 0 0 62%;
    max-width: 62%;
  }

  .col-xl-p63 {
    flex: 0 0 63%;
    max-width: 63%;
  }

  .col-xl-p64 {
    flex: 0 0 64%;
    max-width: 64%;
  }

  .col-xl-p65 {
    flex: 0 0 65%;
    max-width: 65%;
  }

  .col-xl-p66 {
    flex: 0 0 66%;
    max-width: 66%;
  }

  .col-xl-p67 {
    flex: 0 0 67%;
    max-width: 67%;
  }

  .col-xl-p68 {
    flex: 0 0 68%;
    max-width: 68%;
  }

  .col-xl-p69 {
    flex: 0 0 69%;
    max-width: 69%;
  }

  .col-xl-p70 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-xl-p71 {
    flex: 0 0 71%;
    max-width: 71%;
  }

  .col-xl-p72 {
    flex: 0 0 72%;
    max-width: 72%;
  }

  .col-xl-p73 {
    flex: 0 0 73%;
    max-width: 73%;
  }

  .col-xl-p74 {
    flex: 0 0 74%;
    max-width: 74%;
  }

  .col-xl-p75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-p76 {
    flex: 0 0 76%;
    max-width: 76%;
  }

  .col-xl-p77 {
    flex: 0 0 77%;
    max-width: 77%;
  }

  .col-xl-p78 {
    flex: 0 0 78%;
    max-width: 78%;
  }

  .col-xl-p79 {
    flex: 0 0 79%;
    max-width: 79%;
  }

  .col-xl-p80 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-xl-p81 {
    flex: 0 0 81%;
    max-width: 81%;
  }

  .col-xl-p82 {
    flex: 0 0 82%;
    max-width: 82%;
  }

  .col-xl-p83 {
    flex: 0 0 83%;
    max-width: 83%;
  }

  .col-xl-p84 {
    flex: 0 0 84%;
    max-width: 84%;
  }

  .col-xl-p85 {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .col-xl-p86 {
    flex: 0 0 86%;
    max-width: 86%;
  }

  .col-xl-p87 {
    flex: 0 0 87%;
    max-width: 87%;
  }

  .col-xl-p88 {
    flex: 0 0 88%;
    max-width: 88%;
  }

  .col-xl-p89 {
    flex: 0 0 89%;
    max-width: 89%;
  }

  .col-xl-p90 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-xl-p91 {
    flex: 0 0 91%;
    max-width: 91%;
  }

  .col-xl-p92 {
    flex: 0 0 92%;
    max-width: 92%;
  }

  .col-xl-p93 {
    flex: 0 0 93%;
    max-width: 93%;
  }

  .col-xl-p94 {
    flex: 0 0 94%;
    max-width: 94%;
  }

  .col-xl-p95 {
    flex: 0 0 95%;
    max-width: 95%;
  }

  .col-xl-p96 {
    flex: 0 0 96%;
    max-width: 96%;
  }

  .col-xl-p97 {
    flex: 0 0 97%;
    max-width: 97%;
  }

  .col-xl-p98 {
    flex: 0 0 98%;
    max-width: 98%;
  }

  .col-xl-p99 {
    flex: 0 0 99%;
    max-width: 99%;
  }

  .col-xl-p100 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .cell-md-p5 {
    min-width: 5% !important;
    width: 5% !important;
  }

  .cell-md-p6 {
    min-width: 6% !important;
    width: 6% !important;
  }

  .cell-md-p7 {
    min-width: 7% !important;
    width: 7% !important;
  }

  .cell-md-p8 {
    min-width: 8% !important;
    width: 8% !important;
  }

  .cell-md-p9 {
    min-width: 9% !important;
    width: 9% !important;
  }

  .cell-md-p10 {
    min-width: 10% !important;
    width: 10% !important;
  }

  .cell-md-p11 {
    min-width: 11% !important;
    width: 11% !important;
  }

  .cell-md-p12 {
    min-width: 12% !important;
    width: 12% !important;
  }

  .cell-md-p13 {
    min-width: 13% !important;
    width: 13% !important;
  }

  .cell-md-p14 {
    min-width: 14% !important;
    width: 14% !important;
  }

  .cell-md-p15 {
    min-width: 15% !important;
    width: 15% !important;
  }

  .cell-md-p16 {
    min-width: 16% !important;
    width: 16% !important;
  }

  .cell-md-p17 {
    min-width: 17% !important;
    width: 17% !important;
  }

  .cell-md-p18 {
    min-width: 18% !important;
    width: 18% !important;
  }

  .cell-md-p19 {
    min-width: 19% !important;
    width: 19% !important;
  }

  .cell-md-p20 {
    min-width: 20% !important;
    width: 20% !important;
  }

  .cell-md-p21 {
    min-width: 21% !important;
    width: 21% !important;
  }

  .cell-md-p22 {
    min-width: 22% !important;
    width: 22% !important;
  }

  .cell-md-p23 {
    min-width: 23% !important;
    width: 23% !important;
  }

  .cell-md-p24 {
    min-width: 24% !important;
    width: 24% !important;
  }

  .cell-md-p25 {
    min-width: 25% !important;
    width: 25% !important;
  }

  .cell-md-p26 {
    min-width: 26% !important;
    width: 26% !important;
  }

  .cell-md-p27 {
    min-width: 27% !important;
    width: 27% !important;
  }

  .cell-md-p28 {
    min-width: 28% !important;
    width: 28% !important;
  }

  .cell-md-p29 {
    min-width: 29% !important;
    width: 29% !important;
  }

  .cell-md-p30 {
    min-width: 30% !important;
    width: 30% !important;
  }

  .cell-md-p31 {
    min-width: 31% !important;
    width: 31% !important;
  }

  .cell-md-p32 {
    min-width: 32% !important;
    width: 32% !important;
  }

  .cell-md-p33 {
    min-width: 33% !important;
    width: 33% !important;
  }

  .cell-md-p34 {
    min-width: 34% !important;
    width: 34% !important;
  }

  .cell-md-p35 {
    min-width: 35% !important;
    width: 35% !important;
  }

  .cell-md-p36 {
    min-width: 36% !important;
    width: 36% !important;
  }

  .cell-md-p37 {
    min-width: 37% !important;
    width: 37% !important;
  }

  .cell-md-p38 {
    min-width: 38% !important;
    width: 38% !important;
  }

  .cell-md-p39 {
    min-width: 39% !important;
    width: 39% !important;
  }

  .cell-md-p40 {
    min-width: 40% !important;
    width: 40% !important;
  }

  .cell-md-p41 {
    min-width: 41% !important;
    width: 41% !important;
  }

  .cell-md-p42 {
    min-width: 42% !important;
    width: 42% !important;
  }

  .cell-md-p43 {
    min-width: 43% !important;
    width: 43% !important;
  }

  .cell-md-p44 {
    min-width: 44% !important;
    width: 44% !important;
  }

  .cell-md-p45 {
    min-width: 45% !important;
    width: 45% !important;
  }

  .cell-md-p46 {
    min-width: 46% !important;
    width: 46% !important;
  }

  .cell-md-p47 {
    min-width: 47% !important;
    width: 47% !important;
  }

  .cell-md-p48 {
    min-width: 48% !important;
    width: 48% !important;
  }

  .cell-md-p49 {
    min-width: 49% !important;
    width: 49% !important;
  }

  .cell-md-p50 {
    min-width: 50% !important;
    width: 50% !important;
  }

  .cell-md-p51 {
    min-width: 51% !important;
    width: 51% !important;
  }

  .cell-md-p52 {
    min-width: 52% !important;
    width: 52% !important;
  }

  .cell-md-p53 {
    min-width: 53% !important;
    width: 53% !important;
  }

  .cell-md-p54 {
    min-width: 54% !important;
    width: 54% !important;
  }

  .cell-md-p55 {
    min-width: 55% !important;
    width: 55% !important;
  }

  .cell-md-p56 {
    min-width: 56% !important;
    width: 56% !important;
  }

  .cell-md-p57 {
    min-width: 57% !important;
    width: 57% !important;
  }

  .cell-md-p58 {
    min-width: 58% !important;
    width: 58% !important;
  }

  .cell-md-p59 {
    min-width: 59% !important;
    width: 59% !important;
  }

  .cell-md-p60 {
    min-width: 60% !important;
    width: 60% !important;
  }

  .cell-md-p61 {
    min-width: 61% !important;
    width: 61% !important;
  }

  .cell-md-p62 {
    min-width: 62% !important;
    width: 62% !important;
  }

  .cell-md-p63 {
    min-width: 63% !important;
    width: 63% !important;
  }

  .cell-md-p64 {
    min-width: 64% !important;
    width: 64% !important;
  }

  .cell-md-p65 {
    min-width: 65% !important;
    width: 65% !important;
  }

  .cell-md-p66 {
    min-width: 66% !important;
    width: 66% !important;
  }

  .cell-md-p67 {
    min-width: 67% !important;
    width: 67% !important;
  }

  .cell-md-p68 {
    min-width: 68% !important;
    width: 68% !important;
  }

  .cell-md-p69 {
    min-width: 69% !important;
    width: 69% !important;
  }

  .cell-md-p70 {
    min-width: 70% !important;
    width: 70% !important;
  }

  .cell-md-p71 {
    min-width: 71% !important;
    width: 71% !important;
  }

  .cell-md-p72 {
    min-width: 72% !important;
    width: 72% !important;
  }

  .cell-md-p73 {
    min-width: 73% !important;
    width: 73% !important;
  }

  .cell-md-p74 {
    min-width: 74% !important;
    width: 74% !important;
  }

  .cell-md-p75 {
    min-width: 75% !important;
    width: 75% !important;
  }

  .cell-md-p76 {
    min-width: 76% !important;
    width: 76% !important;
  }

  .cell-md-p77 {
    min-width: 77% !important;
    width: 77% !important;
  }

  .cell-md-p78 {
    min-width: 78% !important;
    width: 78% !important;
  }

  .cell-md-p79 {
    min-width: 79% !important;
    width: 79% !important;
  }

  .cell-md-p80 {
    min-width: 80% !important;
    width: 80% !important;
  }

  .cell-md-p81 {
    min-width: 81% !important;
    width: 81% !important;
  }

  .cell-md-p82 {
    min-width: 82% !important;
    width: 82% !important;
  }

  .cell-md-p83 {
    min-width: 83% !important;
    width: 83% !important;
  }

  .cell-md-p84 {
    min-width: 84% !important;
    width: 84% !important;
  }

  .cell-md-p85 {
    min-width: 85% !important;
    width: 85% !important;
  }

  .cell-md-p86 {
    min-width: 86% !important;
    width: 86% !important;
  }

  .cell-md-p87 {
    min-width: 87% !important;
    width: 87% !important;
  }

  .cell-md-p88 {
    min-width: 88% !important;
    width: 88% !important;
  }

  .cell-md-p89 {
    min-width: 89% !important;
    width: 89% !important;
  }

  .cell-md-p90 {
    min-width: 90% !important;
    width: 90% !important;
  }

  .cell-md-p91 {
    min-width: 91% !important;
    width: 91% !important;
  }

  .cell-md-p92 {
    min-width: 92% !important;
    width: 92% !important;
  }

  .cell-md-p93 {
    min-width: 93% !important;
    width: 93% !important;
  }

  .cell-md-p94 {
    min-width: 94% !important;
    width: 94% !important;
  }

  .cell-md-p95 {
    min-width: 95% !important;
    width: 95% !important;
  }

  .cell-md-p96 {
    min-width: 96% !important;
    width: 96% !important;
  }

  .cell-md-p97 {
    min-width: 97% !important;
    width: 97% !important;
  }

  .cell-md-p98 {
    min-width: 98% !important;
    width: 98% !important;
  }

  .cell-md-p99 {
    min-width: 99% !important;
    width: 99% !important;
  }

  .cell-md-p100 {
    min-width: 100% !important;
    width: 100% !important;
  }
}

@media screen and (min-width:991px) and (max-width: 1201px) {
  .cell-lg-p5 {
    min-width: 5% !important;
    width: 5% !important;
  }

  .cell-lg-p6 {
    min-width: 6% !important;
    width: 6% !important;
  }

  .cell-lg-p7 {
    min-width: 7% !important;
    width: 7% !important;
  }

  .cell-lg-p8 {
    min-width: 8% !important;
    width: 8% !important;
  }

  .cell-lg-p9 {
    min-width: 9% !important;
    width: 9% !important;
  }

  .cell-lg-p10 {
    min-width: 10% !important;
    width: 10% !important;
  }

  .cell-lg-p11 {
    min-width: 11% !important;
    width: 11% !important;
  }

  .cell-lg-p12 {
    min-width: 12% !important;
    width: 12% !important;
  }

  .cell-lg-p13 {
    min-width: 13% !important;
    width: 13% !important;
  }

  .cell-lg-p14 {
    min-width: 14% !important;
    width: 14% !important;
  }

  .cell-lg-p15 {
    min-width: 15% !important;
    width: 15% !important;
  }

  .cell-lg-p16 {
    min-width: 16% !important;
    width: 16% !important;
  }

  .cell-lg-p17 {
    min-width: 17% !important;
    width: 17% !important;
  }

  .cell-lg-p18 {
    min-width: 18% !important;
    width: 18% !important;
  }

  .cell-lg-p19 {
    min-width: 19% !important;
    width: 19% !important;
  }

  .cell-lg-p20 {
    min-width: 20% !important;
    width: 20% !important;
  }

  .cell-lg-p21 {
    min-width: 21% !important;
    width: 21% !important;
  }

  .cell-lg-p22 {
    min-width: 22% !important;
    width: 22% !important;
  }

  .cell-lg-p23 {
    min-width: 23% !important;
    width: 23% !important;
  }

  .cell-lg-p24 {
    min-width: 24% !important;
    width: 24% !important;
  }

  .cell-lg-p25 {
    min-width: 25% !important;
    width: 25% !important;
  }

  .cell-lg-p26 {
    min-width: 26% !important;
    width: 26% !important;
  }

  .cell-lg-p27 {
    min-width: 27% !important;
    width: 27% !important;
  }

  .cell-lg-p28 {
    min-width: 28% !important;
    width: 28% !important;
  }

  .cell-lg-p29 {
    min-width: 29% !important;
    width: 29% !important;
  }

  .cell-lg-p30 {
    min-width: 30% !important;
    width: 30% !important;
  }

  .cell-lg-p31 {
    min-width: 31% !important;
    width: 31% !important;
  }

  .cell-lg-p32 {
    min-width: 32% !important;
    width: 32% !important;
  }

  .cell-lg-p33 {
    min-width: 33% !important;
    width: 33% !important;
  }

  .cell-lg-p34 {
    min-width: 34% !important;
    width: 34% !important;
  }

  .cell-lg-p35 {
    min-width: 35% !important;
    width: 35% !important;
  }

  .cell-lg-p36 {
    min-width: 36% !important;
    width: 36% !important;
  }

  .cell-lg-p37 {
    min-width: 37% !important;
    width: 37% !important;
  }

  .cell-lg-p38 {
    min-width: 38% !important;
    width: 38% !important;
  }

  .cell-lg-p39 {
    min-width: 39% !important;
    width: 39% !important;
  }

  .cell-lg-p40 {
    min-width: 40% !important;
    width: 40% !important;
  }

  .cell-lg-p41 {
    min-width: 41% !important;
    width: 41% !important;
  }

  .cell-lg-p42 {
    min-width: 42% !important;
    width: 42% !important;
  }

  .cell-lg-p43 {
    min-width: 43% !important;
    width: 43% !important;
  }

  .cell-lg-p44 {
    min-width: 44% !important;
    width: 44% !important;
  }

  .cell-lg-p45 {
    min-width: 45% !important;
    width: 45% !important;
  }

  .cell-lg-p46 {
    min-width: 46% !important;
    width: 46% !important;
  }

  .cell-lg-p47 {
    min-width: 47% !important;
    width: 47% !important;
  }

  .cell-lg-p48 {
    min-width: 48% !important;
    width: 48% !important;
  }

  .cell-lg-p49 {
    min-width: 49% !important;
    width: 49% !important;
  }

  .cell-lg-p50 {
    min-width: 50% !important;
    width: 50% !important;
  }

  .cell-lg-p51 {
    min-width: 51% !important;
    width: 51% !important;
  }

  .cell-lg-p52 {
    min-width: 52% !important;
    width: 52% !important;
  }

  .cell-lg-p53 {
    min-width: 53% !important;
    width: 53% !important;
  }

  .cell-lg-p54 {
    min-width: 54% !important;
    width: 54% !important;
  }

  .cell-lg-p55 {
    min-width: 55% !important;
    width: 55% !important;
  }

  .cell-lg-p56 {
    min-width: 56% !important;
    width: 56% !important;
  }

  .cell-lg-p57 {
    min-width: 57% !important;
    width: 57% !important;
  }

  .cell-lg-p58 {
    min-width: 58% !important;
    width: 58% !important;
  }

  .cell-lg-p59 {
    min-width: 59% !important;
    width: 59% !important;
  }

  .cell-lg-p60 {
    min-width: 60% !important;
    width: 60% !important;
  }

  .cell-lg-p61 {
    min-width: 61% !important;
    width: 61% !important;
  }

  .cell-lg-p62 {
    min-width: 62% !important;
    width: 62% !important;
  }

  .cell-lg-p63 {
    min-width: 63% !important;
    width: 63% !important;
  }

  .cell-lg-p64 {
    min-width: 64% !important;
    width: 64% !important;
  }

  .cell-lg-p65 {
    min-width: 65% !important;
    width: 65% !important;
  }

  .cell-lg-p66 {
    min-width: 66% !important;
    width: 66% !important;
  }

  .cell-lg-p67 {
    min-width: 67% !important;
    width: 67% !important;
  }

  .cell-lg-p68 {
    min-width: 68% !important;
    width: 68% !important;
  }

  .cell-lg-p69 {
    min-width: 69% !important;
    width: 69% !important;
  }

  .cell-lg-p70 {
    min-width: 70% !important;
    width: 70% !important;
  }

  .cell-lg-p71 {
    min-width: 71% !important;
    width: 71% !important;
  }

  .cell-lg-p72 {
    min-width: 72% !important;
    width: 72% !important;
  }

  .cell-lg-p73 {
    min-width: 73% !important;
    width: 73% !important;
  }

  .cell-lg-p74 {
    min-width: 74% !important;
    width: 74% !important;
  }

  .cell-lg-p75 {
    min-width: 75% !important;
    width: 75% !important;
  }

  .cell-lg-p76 {
    min-width: 76% !important;
    width: 76% !important;
  }

  .cell-lg-p77 {
    min-width: 77% !important;
    width: 77% !important;
  }

  .cell-lg-p78 {
    min-width: 78% !important;
    width: 78% !important;
  }

  .cell-lg-p79 {
    min-width: 79% !important;
    width: 79% !important;
  }

  .cell-lg-p80 {
    min-width: 80% !important;
    width: 80% !important;
  }

  .cell-lg-p81 {
    min-width: 81% !important;
    width: 81% !important;
  }

  .cell-lg-p82 {
    min-width: 82% !important;
    width: 82% !important;
  }

  .cell-lg-p83 {
    min-width: 83% !important;
    width: 83% !important;
  }

  .cell-lg-p84 {
    min-width: 84% !important;
    width: 84% !important;
  }

  .cell-lg-p85 {
    min-width: 85% !important;
    width: 85% !important;
  }

  .cell-lg-p86 {
    min-width: 86% !important;
    width: 86% !important;
  }

  .cell-lg-p87 {
    min-width: 87% !important;
    width: 87% !important;
  }

  .cell-lg-p88 {
    min-width: 88% !important;
    width: 88% !important;
  }

  .cell-lg-p89 {
    min-width: 89% !important;
    width: 89% !important;
  }

  .cell-lg-p90 {
    min-width: 90% !important;
    width: 90% !important;
  }

  .cell-lg-p91 {
    min-width: 91% !important;
    width: 91% !important;
  }

  .cell-lg-p92 {
    min-width: 92% !important;
    width: 92% !important;
  }

  .cell-lg-p93 {
    min-width: 93% !important;
    width: 93% !important;
  }

  .cell-lg-p94 {
    min-width: 94% !important;
    width: 94% !important;
  }

  .cell-lg-p95 {
    min-width: 95% !important;
    width: 95% !important;
  }

  .cell-lg-p96 {
    min-width: 96% !important;
    width: 96% !important;
  }

  .cell-lg-p97 {
    min-width: 97% !important;
    width: 97% !important;
  }

  .cell-lg-p98 {
    min-width: 98% !important;
    width: 98% !important;
  }

  .cell-lg-p99 {
    min-width: 99% !important;
    width: 99% !important;
  }

  .cell-lg-p100 {
    min-width: 100% !important;
    width: 100% !important;
  }
}

@media screen and (min-width: 1200px) {
  .cell-xl-p5 {
    min-width: 5% !important;
    width: 5% !important;
  }

  .cell-xl-p6 {
    min-width: 6% !important;
    width: 6% !important;
  }

  .cell-xl-p7 {
    min-width: 7% !important;
    width: 7% !important;
  }

  .cell-xl-p8 {
    min-width: 8% !important;
    width: 8% !important;
  }

  .cell-xl-p9 {
    min-width: 9% !important;
    width: 9% !important;
  }

  .cell-xl-p10 {
    min-width: 10% !important;
    width: 10% !important;
  }

  .cell-xl-p11 {
    min-width: 11% !important;
    width: 11% !important;
  }

  .cell-xl-p12 {
    min-width: 12% !important;
    width: 12% !important;
  }

  .cell-xl-p13 {
    min-width: 13% !important;
    width: 13% !important;
  }

  .cell-xl-p14 {
    min-width: 14% !important;
    width: 14% !important;
  }

  .cell-xl-p15 {
    min-width: 15% !important;
    width: 15% !important;
  }

  .cell-xl-p16 {
    min-width: 16% !important;
    width: 16% !important;
  }

  .cell-xl-p17 {
    min-width: 17% !important;
    width: 17% !important;
  }

  .cell-xl-p18 {
    min-width: 18% !important;
    width: 18% !important;
  }

  .cell-xl-p19 {
    min-width: 19% !important;
    width: 19% !important;
  }

  .cell-xl-p20 {
    min-width: 20% !important;
    width: 20% !important;
  }

  .cell-xl-p21 {
    min-width: 21% !important;
    width: 21% !important;
  }

  .cell-xl-p22 {
    min-width: 22% !important;
    width: 22% !important;
  }

  .cell-xl-p23 {
    min-width: 23% !important;
    width: 23% !important;
  }

  .cell-xl-p24 {
    min-width: 24% !important;
    width: 24% !important;
  }

  .cell-xl-p25 {
    min-width: 25% !important;
    width: 25% !important;
  }

  .cell-xl-p26 {
    min-width: 26% !important;
    width: 26% !important;
  }

  .cell-xl-p27 {
    min-width: 27% !important;
    width: 27% !important;
  }

  .cell-xl-p28 {
    min-width: 28% !important;
    width: 28% !important;
  }

  .cell-xl-p29 {
    min-width: 29% !important;
    width: 29% !important;
  }

  .cell-xl-p30 {
    min-width: 30% !important;
    width: 30% !important;
  }

  .cell-xl-p31 {
    min-width: 31% !important;
    width: 31% !important;
  }

  .cell-xl-p32 {
    min-width: 32% !important;
    width: 32% !important;
  }

  .cell-xl-p33 {
    min-width: 33% !important;
    width: 33% !important;
  }

  .cell-xl-p34 {
    min-width: 34% !important;
    width: 34% !important;
  }

  .cell-xl-p35 {
    min-width: 35% !important;
    width: 35% !important;
  }

  .cell-xl-p36 {
    min-width: 36% !important;
    width: 36% !important;
  }

  .cell-xl-p37 {
    min-width: 37% !important;
    width: 37% !important;
  }

  .cell-xl-p38 {
    min-width: 38% !important;
    width: 38% !important;
  }

  .cell-xl-p39 {
    min-width: 39% !important;
    width: 39% !important;
  }

  .cell-xl-p40 {
    min-width: 40% !important;
    width: 40% !important;
  }

  .cell-xl-p41 {
    min-width: 41% !important;
    width: 41% !important;
  }

  .cell-xl-p42 {
    min-width: 42% !important;
    width: 42% !important;
  }

  .cell-xl-p43 {
    min-width: 43% !important;
    width: 43% !important;
  }

  .cell-xl-p44 {
    min-width: 44% !important;
    width: 44% !important;
  }

  .cell-xl-p45 {
    min-width: 45% !important;
    width: 45% !important;
  }

  .cell-xl-p46 {
    min-width: 46% !important;
    width: 46% !important;
  }

  .cell-xl-p47 {
    min-width: 47% !important;
    width: 47% !important;
  }

  .cell-xl-p48 {
    min-width: 48% !important;
    width: 48% !important;
  }

  .cell-xl-p49 {
    min-width: 49% !important;
    width: 49% !important;
  }

  .cell-xl-p50 {
    min-width: 50% !important;
    width: 50% !important;
  }

  .cell-xl-p51 {
    min-width: 51% !important;
    width: 51% !important;
  }

  .cell-xl-p52 {
    min-width: 52% !important;
    width: 52% !important;
  }

  .cell-xl-p53 {
    min-width: 53% !important;
    width: 53% !important;
  }

  .cell-xl-p54 {
    min-width: 54% !important;
    width: 54% !important;
  }

  .cell-xl-p55 {
    min-width: 55% !important;
    width: 55% !important;
  }

  .cell-xl-p56 {
    min-width: 56% !important;
    width: 56% !important;
  }

  .cell-xl-p57 {
    min-width: 57% !important;
    width: 57% !important;
  }

  .cell-xl-p58 {
    min-width: 58% !important;
    width: 58% !important;
  }

  .cell-xl-p59 {
    min-width: 59% !important;
    width: 59% !important;
  }

  .cell-xl-p60 {
    min-width: 60% !important;
    width: 60% !important;
  }

  .cell-xl-p61 {
    min-width: 61% !important;
    width: 61% !important;
  }

  .cell-xl-p62 {
    min-width: 62% !important;
    width: 62% !important;
  }

  .cell-xl-p63 {
    min-width: 63% !important;
    width: 63% !important;
  }

  .cell-xl-p64 {
    min-width: 64% !important;
    width: 64% !important;
  }

  .cell-xl-p65 {
    min-width: 65% !important;
    width: 65% !important;
  }

  .cell-xl-p66 {
    min-width: 66% !important;
    width: 66% !important;
  }

  .cell-xl-p67 {
    min-width: 67% !important;
    width: 67% !important;
  }

  .cell-xl-p68 {
    min-width: 68% !important;
    width: 68% !important;
  }

  .cell-xl-p69 {
    min-width: 69% !important;
    width: 69% !important;
  }

  .cell-xl-p70 {
    min-width: 70% !important;
    width: 70% !important;
  }

  .cell-xl-p71 {
    min-width: 71% !important;
    width: 71% !important;
  }

  .cell-xl-p72 {
    min-width: 72% !important;
    width: 72% !important;
  }

  .cell-xl-p73 {
    min-width: 73% !important;
    width: 73% !important;
  }

  .cell-xl-p74 {
    min-width: 74% !important;
    width: 74% !important;
  }

  .cell-xl-p75 {
    min-width: 75% !important;
    width: 75% !important;
  }

  .cell-xl-p76 {
    min-width: 76% !important;
    width: 76% !important;
  }

  .cell-xl-p77 {
    min-width: 77% !important;
    width: 77% !important;
  }

  .cell-xl-p78 {
    min-width: 78% !important;
    width: 78% !important;
  }

  .cell-xl-p79 {
    min-width: 79% !important;
    width: 79% !important;
  }

  .cell-xl-p80 {
    min-width: 80% !important;
    width: 80% !important;
  }

  .cell-xl-p81 {
    min-width: 81% !important;
    width: 81% !important;
  }

  .cell-xl-p82 {
    min-width: 82% !important;
    width: 82% !important;
  }

  .cell-xl-p83 {
    min-width: 83% !important;
    width: 83% !important;
  }

  .cell-xl-p84 {
    min-width: 84% !important;
    width: 84% !important;
  }

  .cell-xl-p85 {
    min-width: 85% !important;
    width: 85% !important;
  }

  .cell-xl-p86 {
    min-width: 86% !important;
    width: 86% !important;
  }

  .cell-xl-p87 {
    min-width: 87% !important;
    width: 87% !important;
  }

  .cell-xl-p88 {
    min-width: 88% !important;
    width: 88% !important;
  }

  .cell-xl-p89 {
    min-width: 89% !important;
    width: 89% !important;
  }

  .cell-xl-p90 {
    min-width: 90% !important;
    width: 90% !important;
  }

  .cell-xl-p91 {
    min-width: 91% !important;
    width: 91% !important;
  }

  .cell-xl-p92 {
    min-width: 92% !important;
    width: 92% !important;
  }

  .cell-xl-p93 {
    min-width: 93% !important;
    width: 93% !important;
  }

  .cell-xl-p94 {
    min-width: 94% !important;
    width: 94% !important;
  }

  .cell-xl-p95 {
    min-width: 95% !important;
    width: 95% !important;
  }

  .cell-xl-p96 {
    min-width: 96% !important;
    width: 96% !important;
  }

  .cell-xl-p97 {
    min-width: 97% !important;
    width: 97% !important;
  }

  .cell-xl-p98 {
    min-width: 98% !important;
    width: 98% !important;
  }

  .cell-xl-p99 {
    min-width: 99% !important;
    width: 99% !important;
  }

  .cell-xl-p100 {
    min-width: 100% !important;
    width: 100% !important;
  }
}
